<div class="data-table container">
  <div class="row text-white">
    <div class="col-12">
      <div class="header-table text-center mt-5">
        <h3 class="display-4">Data Customers</h3>
      </div>
    </div>
  </div>
  <div class="custom-select w-75 m-auto py-2">
    <select id="dropdown" class="form-control w-50 mx-auto" (change)="filterByName($event)">
      <option disabled selected>Choose Name To Draw Chart</option>
      <option *ngFor="let item of itemList" [value]="item.name">{{ item.name }}</option>
    </select>
    <div class="select-arrow"></div>
  </div>

  <div id="chart-container" class="my-3"></div>
  <app-home></app-home>
</div>
